/* You can add global styles to this file, and also import other style files */
body {
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

pre {
    background: rgb(247, 244, 244);
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}